* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'poppins', sans-serif;
}


.main-container {
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.fast-contact-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 20px;
}

.short-discription-container {
    width: 400px;
    display: flex;
    padding: 10px 0px;
}

.short-discription-container p {
    font-size: 18px;
    color: grey;
    line-height: 1.2;
}

.contact-links-container {
    width: 400px;
    height: auto;
    margin-top: 20px;
}

.link-container {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.link-container i {
    font-size: 35px;
    color: red;
}

.link-container a {
    width: 250px;
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: lighter;
}

.link-container a:hover {
    color: gray;
    transition: 0.3s ease-in-out;
}

h2 {
    font-size: 50px;
    color: black;
}

.continue-shopping{
    margin-left: 300px;
    align-self: flex-start;
    font-size: 20px;
    text-align: left;
    background: #f3eaea;
    border: 0;
    padding: 10px 20px;
    border-radius: 8px;
    width: 200px;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: bounce 1s ease infinite;
}

@keyframes bounce{
    0% {transform: translate(0);}
    30% {transform: translate(-18px);}
    50% {transform: translate(0);}
    65% {transform: translate(-8px);}
    100% {transform: translate(0);}
}

@media (prefers-reduced-motion: reduce){
    bounce{
        animation: none;
    }
}

.continue-shopping i{
    font-size: 25px;
    color: red;
}

.continue-shopping a{
    text-decoration: none;
    color: black;
}



.form-container {
    width: 35%;
    height: fit-content;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    padding: 20px 10px;
    border-radius: 8px;
}

label {
    font-size: 18px;
    margin-top: 15px;
}

input {
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    border: 0;
    outline: 0;
    background: #f3eaea;
}

textarea {
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    font-size: 16px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid rgba(128, 128, 128, 0.541);
}

button {
    width: 100%;
    padding: 10px;
    border: 0;
    outline: 0;
    border-radius: 8px;
    background: #c03f3f;
    align-self: center;
    color: #fff;
    font-size: 20px;

}

button:hover {
    background: #f3eaea;
    color: black;
    transition: 0.3s ease;
}


/*footer css*/
footer {
    background-color: #000000DE;
    display: flex;
    height: auto;
    padding: 50px;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.links {
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.cpy-logo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
}

.cpy-logo img {
    width: 100px;
    height: 30px;
}

.media img {
    width: 30px;
    height: 30px;
}


.help {
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.help h4 {
    font-weight: bolder;
    color: white;
    font-weight: bold;
}

.help a {
    color: #f1e7e7;
    text-decoration: none;
    font-weight: lighter;
}

.help a:hover {
    color: rgb(146, 139, 139);
    transition: 0.3s ease-in-out;
}

.sub a {
    color: #2dcc11;
    font-size: 22px;
    font-weight: bold;
}

.p-p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.p-p p {
    color: #fff;
    font-size: 18px;
}