@media (max-width: 600px) {
    header .nav{
        width: fit-content;
        display:none;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: right;
        position: absolute;
        top: 80px;
        right: 8px;
    }

    body{
        width: 100%;
        max-width: 500px;
        overflow-x: hidden;
    }

    header{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }

    header img{
        max-width:80px;
        height: 28px;
    }

    header input{
        max-width: 100px;
        display: flex;
        height: 19px;
        padding: 5px;
    }
     #search-btn{
        display: none;
    }
    #search-btn2, #menuBar, #cart{
    display:flex;
    font-size: 30px;
    color: #fff;
}

#cart3{
    display: none;
}
    .hero-section{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

   
    header a{
        font-size: 18px;
        text-align: right;
    }

    #register,#login{
        padding: 0;
        border: none;
        color: #fff;
        background-color: transparent;

    }
    .hero-section h2{
        max-width: 300px;
        font-size: 25px;
        text-align: center;
    }

    .hero-image img{
        max-width: 370px;
        height: 300px;
    }
    
    main{
        max-width: 700px;
    }


    .section2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: auto;
        padding-bottom: 20px;
        border-bottom: 1px solid #000;
    }
    .details{
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }



    .deliverer-img{
        max-width: 500px;
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #search-btn{
        position: unset;
    }

    .dvl-shape{
        width: 0;
        height: 0;
        display: none;
    }

    .title{
        position: unset;
    }
    .title h2{
        text-align: center;
    }

    .deliverer{
        max-width: 400px;
        max-height: 350px;
        display: flex;
        position: unset;
        border-bottom: 3px solid red;
    }

    .details .services{
        max-width: 400px;
        display: flex;
        position: unset;
        align-items: center;
    }

    .sev-box{
        max-width: 250px;
        padding: 10px;
    }

    .sales-title img{
        max-width:80px;

    }




    /* products section*/
    .gcry-image{
        display: none;
    }

     /* flash sales*/
     .flash-sales-section{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
     }

       .time{
        display: flex;
        justify-content: space-evenly;
        padding: 20px;
        align-items: center;
    }
   

     .t-box{
    max-width: 200px;
    max-height: 50px;
   }  
  
     /* categories page sales*/
     .category-section{
        display: flex;
        flex-direction: column;
        gap: 80px;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;
        margin-top: 40px;
     }

    .caption img{
        display: none;
     }

     .caption h2{
        font-size: 25px;
        align-items: center;
        margin: unset;

     }

     .cty-title h2{
        font-size: 18px;
     }

     .view-more{
        margin-top: 30px;
     }

   
   .our-clients{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
   }

   .clnt-box{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
   }









   /*==== Download mobile app =====*/
   .mobile-app{
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 1px;
    align-items: center;
   }

   .boxes{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
   }

   .down-ld-txt{
    max-width: 250px;
    gap: 6px;
   }
   .down-ld-txt h3{
    font-size: 20px;
   }
   .down-ld-txt p{
    font-size: 18px;
}


   .mobile-app .boxes #fst-bx{
    width: 0;
    position: unset;
    height: 0;
    left: 0;
    display: none;
   }
   .spans{
    max-height: 250px;
   }

   .mobile-app .boxes #scd-bx {
    width: 0;
    height: 0;
    position: unset;
    display: none;
    top: 0;
    left: 0;
   }

   .spans img{
    max-width: 180px;
    max-height: 210px;
    position: unset;
    top: 0;
    left: 0;

   }

   .sites{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
   }
   .store{
    max-width: 250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin: 15px;
   }
   .store p{
    display: flex;
    max-width: 120px;
    height: 40px;
    font-size: 12px;
   }
   .store img{
        max-width: 20px;
        height: 20px;
   }
   














   footer{
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   .cpy-logo{
    display: flex;
    align-items: center;
    justify-content: center;
   }
   .links{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
   }

   .help{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   .help a{
    text-align: center;
   }

   .p-p p{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-align: center;
   }
}