*{
    margin: 0;
    padding: 0;

}

html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: auto;
    padding-top: 40px;
    background-color:transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav{
    width: 800px;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 70x;
    height: 40px;
}

header input{
    width: 400px;
    height: 40px;
    border-radius: 15px;
    outline: none;
    padding: 5px;
    font-size: 19px;
}


#search-btn{
    align-self: center;
    position: relative;
    left: -38px;
    top: 7px;
    font-size: 22px;
}

#search-btn2, #menuBar, #cart2{
    display:none;
    font-size: 30px;
}
#cart{
    font-size: 30px;
    color: #fff;
    font-weight: lighter;
    display: none;
}
#cart3{
    display: flex;
    font-size: 30px;
    color: #fff;
    font-weight: lighter;
}
#cart:hover{
    color: black;
}

#login{
    padding: 5px;
    border: 1px solid white;
    border-radius: 20px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#login:hover{
    background-color: #fff;
    border: none;
    color: #4B773B;
    transition: 0.5s ease;
    outline: none;
}
#register{
    background-color: #fff;
    color: #4B773B;
    padding: 5px;
    border-radius: 20px;
    width: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
}
#register:hover{
    border: 1px solid white;
    color: #fff;
    border-radius: 20px;
    background-color: transparent;
    transition: 0.5s ease-in-out;
}

header li{
    list-style: none;
}

header a{
    text-decoration: none;
    font-size: 22px;
    color: #fff;
}

main{
width: 100%;
height: 909px;
top: 405.63px;
left: -3px;
opacity: 1;
box-shadow: 0px 4px 55px 0px #3399444A;
background: linear-gradient(126.52deg, #4B773B 40.84%, rgba(58, 111, 40, 0.88) 48.71%, rgba(74, 149, 47, 0.76) 64.46%);

}

main .ellipse{
width: 400px;
height: 400px;
top: 594.53px;
left: 344.25px;
opacity: 1;
outline: #FBB80DE5;

}

.hero-section{
    height: 570px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.hero-section h2{
width: 500px;
color: white;
font-size: 40px;
animation: showup2 3s ease-in;
}

@keyframes showup2{
    from{
        opacity: 0;
        transform: scale(0.1);
        transform: translateX(-30%);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

.hero-image img{
width: 600px;
height: 500px;
top: 1179.99px;
left: 1336.75px;
animation: showup1 3s ease-in;
}

@keyframes showup1{
    from{
        opacity: 0;
        transform: scale(0.1);
        transform: translateX(30%);
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}


.section2{
    width: 100%;
    height: 570px;
    align-content: center;
}

.title{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 80px;
}

.title h2{
    font-size: 35px;
    width: 300px;
}

.details{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.deliverer-img img{
max-height: 600px;

}

.deliverer{
    position: relative;
    top: -620px;
    left: 50px;
}


.details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
}

.details .services{
    display: flex;
    position: relative;
    top: -200px;
    right: 100px;
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 20px;
}


.sev-box{
    width: 350px;
    height: auto;
    padding: 20px;
    display: flex;
    border-radius: 8px;
    justify-content: left;
    text-align: left;
    align-content: left;
    box-shadow: 0 2px 4px;
    transition: all 0.5s ease-in-out;
}

.sev-box:hover{
    transform: scale(1.1);
}

/* ======================= SALES PAGE============== */

.flash-sales-section{
    margin-top: 180px;
    width: 100%;
    height: auto;
}
.sales-title{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 4px;
    align-items: center;
}

.sales-title img{
    width: 200px;
    height: 2px;
    border: 1px solid black;
    background-color: black;
}

.time{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.t-box{
    width: 250px;
    height: 70px;
    padding: 10px;
    border-radius: 15px;
    outline: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.t-box h3, .t-box p{
    color: #fff;

}

.view-more{
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-more a{
    border: 1px solid #4B773B;
    padding: 10px;
    text-align: center;
    justify-content: center;
    color: #4B773B;
    border-radius: 15px;
    text-decoration: none;
}
.view-more a:hover{
    border: none;
    background-color: #4B773B;
    color: #fff;
    transition: 0.3s ease-in-out;
}

/*================ Category page styling ======= */
.category-section{
    width: 100%;
    height: auto;
}

.caption{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.caption img{
width: 400px;
height: 400px;

}

.caption h2{
    width: 400px;
    font-size: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 9%;
}
.cty-title{
    width: 100%;
    height: auto;

}

.cty-title h2{
    font-size: 25px;
    margin-left: 9%;
}

/*========= Product display page=======*/

.gcry-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.grocery-display{
    padding-top: 90px;
}

.gcry-title h2{
    font-size: 25px;
    text-transform: uppercase;
}

.grocery-display img{
    width: 300px;
    position: relative;    
}

#happy-c{
    margin-top: -250px;
}

.our-clients{
    width: 100%;
    height: auto;
    background-color: #2BEA0C08;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.clnt-box{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: auto;
    margin-top: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px 20px 20px;
}
.rate{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.star i{
    color: #FCD061E5;
    font-size: 25px;

}
.client{
width: 280px;
height:auto;
border-width: 1px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
background-color: #fff;
box-shadow: 0 1px 1px;
border-radius: 3px;
}

.client #msg{
    margin: 70px 0 25px 0;
    text-align: left;
    font-weight: lighter;
    line-height-step: 1.5px;
}

.client-img{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}
.client-img img{
    width: 70px;
    height: 70px;

}

.client-img span{
font-family: Lato;
font-weight: lighter;
font-size: 16px;
text-align: center;

}

/*===============Download mobile app view==========*/

.mobile-app{
    margin-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}

.boxes{
    width:100%;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 190px;

}
.mobile-app .boxes #fst-bx{
width: 400px;
height: 319px;
border-radius: 8.88px;
position: relative;
background-color: #28e00c1f;

}
.mobile-app .boxes #scd-bx {
width: 400px;
height: 319px;
border-radius: 8.88px;
position: relative;
top: -130px;
left: 130px;
background-color: #28e00c1f;
}

.mobile{
    align-items: center;
}

.spans{
    width:auto ;
    height: 600px;
    align-items: center;
}
.spans img{
    width: 340px;
    height: 400px;
    position:relative;
    top: -550px;
    
}


.down-ld-txt{
    display: flex;
    width: 350px;
    flex-direction: column;
    gap: 20px;
    background-color: transparent;
}
.down-ld-txt h3{
    font-size: 35px;
}

.down-ld-txt p{
    font-size: 22px;
}
.store{
    width: 230px;
    height: 80px;
    border-radius:15px;
    padding: 10px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.store p{
    color: #fff;
    font-weight: lighter;
    font-size: 18px;
}
.store img{
    width: 60px;
    height: 60px;
}
.sites{

    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 30px;
}


/*=============== Footer styling ========== */
footer{
    background-color: #000000DE;
    display: flex;
    height: auto;
    padding: 50px;
    margin-top: 100px;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.links{
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

.cpy-logo{
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 40px;
}
.cpy-logo img{
    width: 100px;
    height: 30px;
}

.media img{
    width: 30px;
    height: 30px;
}


.help{
    width: 200px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.help h4{
    font-weight: bolder;
    color: white;
    font-weight: bold;
}
.help a{
    color: #c7afaf;
    text-decoration: none;
    font-weight: lighter;
}
.help a:hover{
    color: white;
    transition: 0.3s ease;
}

.help a:hover{
    color: rgb(146, 139, 139);
    transition: 0.3s ease-in-out;
}
.sub a{
    color:#31BB1A;
    font-size: 22px;
    font-weight: bold;
}

.p-p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}

.p-p p{
    color: #fff;
    font-size: 18px;
}


/* ======= json elements styling======*/
.products {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  width: 200px;
  height: auto;
  align-content: center;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}


.productContainer, .flashContainer{
height:fit-content;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.producr-price{
    font-size: 10px;
}

.categ-product{
  position: relative;
  width: 90%;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin: auto;
  overflow: hidden;
}

.categ-product i{
    padding: 4px;
    font-size:20px;
    background-color: rgba(0, 0, 0, 0.37);
    color: #fff;
    border-radius: 50%;
}

.categ-product i:hover{
    background-color: white;
    border: 1px black;
    color: black;
    transition: 0.3s ease-in-out;
}
.product-card img {
  width:150px;
  height: 150px;
  border-radius: 8px;
}


.buyProd{
  position: relative;
  width: 85%;
  display:flex;
  padding-top: 50px;
  align-items: center;
  gap: 10px;
  justify-content: space-evenly;
  margin: auto;
  overflow: hidden;
}

.sellingContainer{
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 40px;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.actual-pruduct{
    display: flex;
    flex-direction: column;
    gap: 2px;
    align-items: center;
}


.actualProdcard{
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap:30px;
  width: fit-content;
  height: fit-content;
  box-shadow: 2px 2px 6px rgba(0,0,0,0.1);
}

.actualProdcard img{
 margin-top: 0;
   width:150px;
  height: 150px;
  border-radius: 8px;
  position: relative;
  top: -1px;
}

.product-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center ;
  width:150px;
  height: 150px;
  border-radius: 8px;
}

.add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qty-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.qty-boxes{
    width: 40%;
    display: flex;
    padding: 5px;
    justify-content: space-around;
    align-items: center;
}

.qty-boxes .decrease, .qty-boxes .increase{
    width: 20px;
    font-size: 14px;
    color:black;
    background-color:#ccc;
    border-radius: 4px;
    padding: 2px;
    border: none;
}
.addCart{
    padding: 2px 6px;
    background-color: #4B773B;
    color: #fff;
    border: none;
    border-radius: 4px;
}